footer{
    background: #33323D;
    margin-top: 120px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_logo{
        display: block;
    }
    &_navbar{
        display: flex;
        align-items: center;
        width: 309px;
        justify-content: space-between;
        margin-right: auto;
        margin-left: 50px;
        &_item{
            list-style: none;
            &_link{
                text-decoration: none;
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                &:hover{
                    opacity: .6;
                }
            }
        }
    }
    &_logotips{
        width: 119px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}