.section3{
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_title{
        width: 350px;
        font-family: Ibarra Real Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }
    &_middle{
        width: 534px;
        background-color: #DCDCDE;
        height: 2px;
    }
}